{% if img_1 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_1 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_1 | img_url: 'original' }}" alt="{{ block.settings.image_1.alt }}"{% render 'lazy_load' %}>
    </a>
  </div>
</div>
{% endif %}

{% if img_2 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_2 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_2 | img_url: 'original' }}" alt="{{ block.settings.image_2.alt }}" {% render 'lazy_load' %} >
    </a>
  </div>
</div>
{% endif %}

{% if img_3 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_3 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_3 | img_url: 'original' }}" alt="{{ block.settings.image_3.alt }}" {% render 'lazy_load' %} >
    </a>
  </div>
</div>
{% endif %}

{% if img_4 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_4 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_4 | img_url: 'original' }}" alt="{{ block.settings.image_3.alt }}" {% render 'lazy_load' %} >
    </a>
  </div>
</div>
{% endif %}

{% if img_5 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_5 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_5 | img_url: 'original' }}" alt="{{ block.settings.image_5.alt }}" {% render 'lazy_load' %} >
    </a>
  </div>
</div>
{% endif %}

{% if img_6 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_6 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_6 | img_url: 'original' }}" alt="{{ block.settings.image_3.alt }}" {% render 'lazy_load' %} >
    </a>
  </div>
</div>
{% endif %}

{% if img_7 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_7 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_7 | img_url: 'original' }}" alt="{{ block.settings.image_3.alt }}" {% render 'lazy_load' %} >
    </a>
  </div>
</div>
{% endif %}

{% if img_8 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_8 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_3 | img_url: 'original' }}" alt="{{ block.settings.image_8.alt }}" {% render 'lazy_load' %} >
    </a>
  </div>
</div>
{% endif %}

{% if img_9 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_9 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_9 | img_url: 'original' }}" alt="{{ block.settings.image_3.alt }}" {% render 'lazy_load' %} >
    </a>
  </div>
</div>
{% endif %}

{% if img_10 != blank %}
<div class="item {{ col_grid }}">
  <div class="images-contain">
    <a class="fancybox" rel="gallery" href="{{ img_10 | img_url: 'original' }}" data-fancybox="lookbook-gallery">
      <img data-src="{{ img_10 | img_url: 'original' }}" alt="{{ block.settings.image_3.alt }}" {% render 'lazy_load' %} >
    </a>
  </div>
</div>
{% endif %}