{% assign on_sale = false %}
{% if product.variants[0].compare_at_price > product.variants[0].price %}
  {% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}
<div class="inner product-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}" data-product-id="product-{{ product.id }}" data-id="{{ product.id }}">
  <div class="inner-top">
    <div class="product-top">
      <div class="product-image{% if product.images.size > 1 and settings.image_swap %} image-swap{% endif %}">
        <a href="{{ product.url | within: collection }}" class="product-grid-image" data-collections-related="/collections/{{collection.handle}}?view=related">
          {%- assign img_pr = product.featured_image.src | product_img_url: '420x' -%}        
          {%- assign img_0 = product.images[0].src | product_img_url: '420x' -%}
          {%- assign img_1 = product.images[1].src | product_img_url: '420x' -%}
          
          {% if product.images.size > 1 and settings.image_swap %}
            <img data-src="{{ product.images[0].src | product_img_url: '300x' }}" alt="{{ product.images[0].alt | escape }}" class="images-one lazyload {{lazyload}}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto">

          <span class="images-two">
            <img data-src="{{ product.images[1].src | product_img_url: '300x'}}" alt="{{ product.images[1].alt | escape }}" {% render 'lazy_load' %}>
          </span> 
          {% else %}
          <img data-src="{{ product.featured_image.src | product_img_url: '300x' }}" alt="{{ product.featured_image.alt | escape }}" {% render 'lazy_load' %}>       
          {% endif %}
        </a>
      </div>

      {% render 'product-label' with product as product %}

      {% if settings.enable_quick_view %}
        <a class="quickview-button" href="javascript:void(0)" id="{{ product.handle }}" title="{{ 'products.product.quick_view' | t }}" {% if settings.enable_multilang %}data-translate="products.product.quick_view" translate-item="title"{% endif %}>
          <span {% if settings.enable_multilang %}data-translate="products.product.quick_view"{% endif %}>
            {{ 'products.product.quick_view' | t }}
          </span>
        </a>
      {% endif %} 

      {% if settings.enable_wishlist %}
        <div class="product-des abs-top">
          {% render 'wishlist-product' with product as product %}
          {% render 'compare-product' with product as product %}        
        </div>
      {% endif %}

      {% if product.description contains '[countdown]' %}  
      <div class="product-des abs-center">    
          {% assign count_down_first = product.description | split:'[/countdown]' | first %}
          {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
          
          <div class="countdown">
              <div class="countdown-item" data-countdown data-countdown-value="{{ count_down_final }}"></div>
          </div>
      </div>
      {% endif %}

      {% comment %} Use for productGrid {% endcomment %}
      <div class="product-des abs-bottom abs-bottom-dt">
        {% if settings.display_item_size %}
          {% render 'items-size' with product as product %}
        {% endif %}  

      </div>

    </div>

    {% comment %} Use for productGrid {% endcomment %}
    <div class="product-bottom">
      {% if settings.show_vendor %}
      <div class="product-vendor">
        {{ product.vendor | link_to_vendor }}
      </div>
      {% endif %}
      
      <a class="product-title" href="{{ product.url | within: collection }}">
        {% render 'multilang' with product.title %}
      </a>
      
      {% if settings.display_product_reviews %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}

      <div class="price-box">
        {% if on_sale %}
        <div class="price-sale">
          <span class="old-price">{{ product.compare_at_price_min | money }}</span>
          <span class="special-price">{% if product.price_varies %}{% render 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
        </div>
        {% else %}
        <div class="price-regular">
          <span>{% if product.price_varies %}{% render 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
        </div>
        {% endif %}
      </div>

      <div class="abs-bottom-mb">
        {% if settings.display_button %}
        <div class="action">
          {% assign variantCount = product.variants | size %}
          <form action="/cart/add" method="post" class="variants" id="{{id}}-{{ product.id }}" data-id="product-actions-{{ product.id }}" enctype="multipart/form-data">
            {% if sold_out %}
            <button class="btn add-to-cart-btn" type="submit" disabled="disabled" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{% endif %}>
              {{ 'products.product.unavailable' | t }}
            </button>
            {% else %}
            {% if variantCount > 1 %}
            <a class="btn" href="{{ product.url }}" title="{{ product.title }}" {% if settings.enable_multilang %}data-translate="products.product.select_options"{% endif %}>
              {{ 'products.product.select_options' | t }}
            </a>
            {% else %}
            <input type="hidden" name="id" value="{{ product.variants[0].id }}" /> 

            <button data-btn-addToCart class="btn add-to-cart-btn" type="submit" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %} data-form-id="#{{id}}-{{ product.id }}">
              {{ 'products.product.add_to_cart' | t }}
            </button>
            {% endif %}
            {% endif %}
          </form>
        </div>
        {% endif %}
      </div>
      
      {% if settings.display_item_swatch %}
      {% render 'item-swatch' with product as product %}
      {% endif %}

     
      

    </div> 
    
    {% comment %} Use for productList {% endcomment %}
    <div class="product-details">
      {% if settings.show_vendor %}
      <div class="product-vendor">
        {{ product.vendor | link_to_vendor }}
      </div>
      {% endif %}

      <a class="product-title" href="{{ product.url | within: collection }}">
        {% render 'multilang' with product.title %}
      </a>
      
      {% if settings.display_product_reviews %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}" style="min-height: 20px; display: block; margin-bottom: 9px;"></span>
      {% endif %}
                  
      <div class="price-box">
        {% if on_sale %}
        <div class="price-sale">
          <span class="old-price">{{ product.compare_at_price_min | money }}</span>
          <span class="special-price">{% if product.price_varies %}{% render 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
        </div>
        {% else %}
        <div class="price-regular">
          <span>{% if product.price_varies %}{% render 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
        </div>
        {% endif %}
      </div>
      
      <div class="short-description">
        {% if product.description contains '[countdown]' %}
        {% assign des = product.description | split:'[/countdown]' | last %}
        {% else %}
        {% assign des = product.description %}
        {% endif %}
        
        {% if settings.enable_multilang and des contains '[lang2]' %}
        <div class="lang1">
          {{ des | split: '[lang2]' | first | strip_html | truncatewords: 40 }}
        </div>
        <div class="lang2">
          {{ des | split: '[lang2]' | last | strip_html | truncatewords: 40 }}
        </div>
        {% else %}
        <div>
          {{ des | split: '[lang2]' | first | strip_html | truncatewords: 40 }}
        </div>
        {% endif %}
      </div>
      
      {% if settings.display_item_size %}
        {% render 'items-size' with product as product %}
      {% endif %}  

      {% if settings.display_item_swatch %}
        {% render 'item-swatch' with product as product %}
      {% endif %}
      {% if settings.display_button %}
      <div class="action">
        {% assign variantCount = product.variants | size %}
        <form action="/cart/add" method="post" class="variants" id="add-to-cart-form-list" data-id="product-actions-{{ product.id }}" enctype="multipart/form-data">
          {% if sold_out %}
          <button class="btn add-to-cart-btn" type="submit" disabled="disabled" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{% endif %}>
            {{ 'products.product.unavailable' | t }}
          </button>
          {% else %}
          {% if variantCount > 1 %}
          <a class="btn" href="{{ product.url }}" title="{{ product.title }}" {% if settings.enable_multilang %}data-translate="products.product.select_options"{% endif %}>
            {{ 'products.product.select_options' | t }}
          </a>
          {% else %}
          <input type="hidden" name="id" value="{{ product.variants[0].id }}" /> 

          <button data-btn-addToCart class="btn add-to-cart-btn" type="submit" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %} data-form-id="#add-to-cart-form-list">
            {{ 'products.product.add_to_cart' | t }}
          </button>
          {% endif %}
          {% endif %}
        </form>

        {% render 'wishlist-product' with product as product %}

        {% render 'compare-product' with product as product %}
      </div>
      {% endif %}

      
    </div>

    <div class="compare-info">
        <div class="sku-product">
            <span class="value">{{ product.variants.first.sku }}</span>
        </div>
        <div class="collection-product">
            {% for collection in product.collections %}
              <span class="value">{{ collection.title }}</span>
            {% endfor %}

            
        </div>
        <div class="short-description">
          {% if product.description contains '[countdown]' %}
          {% assign des = product.description | split:'[/countdown]' | last %}
          {% else %}
          {% assign des = product.description %}
          {% endif %}
          
          {% if settings.enable_multilang and des contains '[lang2]' %}
          <div class="lang1">
            {{ des | split: '[lang2]' | first | strip_html | truncatewords: 22 }}
          </div>
          <div class="lang2">
            {{ des | split: '[lang2]' | last | strip_html | truncatewords: 22 }}
          </div>
          {% else %}
          <div>
            {{ des | split: '[lang2]' | first | strip_html | truncatewords: 22 }}
          </div>
          {% endif %}
        </div>

        <div class="product-variants">
            {% for option in product.options %}
              {% render 'swatch' with option %}
            {% endfor %}          
        </div>

    </div>
  </div>        
</div>
