{% if section.settings.show_home_featured_product %}
<div class="home-featured-products" id="section-{{section.id}}" data-featured-products> 
  <div class="container">
    {% if section.settings.slider_feature_title != blank %}
    <div class="widget-title">   
      <h3 class="box-title">
        {% render 'multilang' with section.settings.slider_feature_title %}
      </h3>
    </div>
    {% endif %}
    
    <div class="widget-product">
      <div class="products-grid row five-items has-slick" data-infinite="false" data-row="{{section.settings.feature_collection_results_per_row}}" data-rowtb="4" data-rowtblg="3" data-rowbm="2">
        {% if section.settings.feature_collection_results_per_row != blank and section.settings.feature_collection_results_per_row != '4' %}
        {% assign product_grid = 12 | divided_by: section.settings.feature_collection_results_per_row %}
        {% assign columns = true %}
        {% endif %}

        {% for product in collections[section.settings.show_slider_feature_collection].products limit:section.settings.slider_feature_limit_all %}
        <div class="item {% if settings.product_image_border %}grid-item-border {% endif %}{% if settings.product_image_crop %}crop_image {% else %}no_crop_image {% endif %}grid-item col-6 col-md-4 col-lg-3{% if product_grid == 3 %} col-xl-3{% endif %} {% if columns %} col-xl-{{product_grid}}{% else %}col-xl1{% endif %}">
          {% render 'product-grid-item' with product as product %}
        </div>

        {% else %}
        {% for product in (1..section.settings.slider_feature_limit_all) %}
        <div class="item no-product grid-item col-6 col-md-4 col-lg-3{% if product_grid == 3 %} col-xl-3{% endif %} {% if columns %} col-xl-{{product_grid}}{% else %}col-xl{% endif %}">
          <div class="grid-view-item no-product">
            <a href="#" class="grid-view-item__link">
              <div class="grid-view-item__image">
                {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              <div class="product-title"><span>Your product's name</span></div>
            </a>
            <div class="price-box">
              <span> $250.00 </span>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
<style>
  #section-{{section.id}}{
    margin-top: {{ section.settings.space_on }}px;
    margin-bottom: {{ section.settings.space_below }}px;
  }

</style>

{% schema %}
  {
    "name": "Home Featured Products",
    "class": "home-feature-product-sections",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_home_featured_product",
        "label": "Enable",
        "default": true
      },
      {
        "type": "range",
        "id": "space_on",
        "label": "Space on",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "space_below",
        "label": "Space below",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "collection",
        "id": "show_slider_feature_collection",
        "label": "Collection to use"
      },
      {
        "type": "text",
        "id": "slider_feature_title",
        "label": "Title",
        "default": "Featured Products"
      },
      {
          "type":      "range",
          "id":        "slider_feature_limit_all",
          "min":       2,
          "max":       50,
          "step":      1,
          "label":     "Number of products to show",
          "default":   6
      },
      {
        "type": "select",
        "id": "feature_collection_results_per_row",
        "label": "Products per row",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "5"
     }
   
  ],
  "presets": [
      {
        "name": "Home Featured Products",
        "category": "Collection"
      }
    ]
  }
{% endschema %}