{% assign number_of_related_products = section.settings.number_of_related_products | times:1 %}

{% if section.settings.related_product_row == '4' %}
    {%- assign class = 'four-items' -%}
    {%- assign rows = '4' -%}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}
{% else %}
    {%- assign class = 'five-items' -%}
    {%- assign rows = '5' -%}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col5' -%}
{% endif%}

{% if section.settings.display_related_products %}
<div id="product-recommendations">
  <div class="container">
    <div class="related-products page-width product-recommendations js-product-recomendation" data-product-id="{{ product.id }}" data-limit="{{ number_of_related_products }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations" data-related-products>
      {% if recommendations.products_count > 0 %}
      {% if section.settings.related_products_title %}
      <div class="widget-title not-before">   
        <h3 class="box-title">
          <span class="title"> 
            {% render 'multilang' with section.settings.related_products_title %}
          </span>
        </h3>    
      </div>
      {% endif %}
      <div class="widget-product">
        <div class="products-grid grid grid--uniform grid--view-items row {{ class }}" data-row="{{ rows }}">
          {% for product in recommendations.products %}
          <div class="grid__item small--one-half medium-up--one-quarter grid-item {{ grid_item_width }}{% if settings.product_image_border %} grid-item-border{% endif %}">
            {% render 'product-grid-item' with product as product %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Products Recomendation",
    "settings": [
        {
            "type": "checkbox",
            "id": "display_related_products",
            "label": "Display Related Products?",
            "default": true
        },
        {
            "type": "text",
            "id": "related_products_title",
            "label": "Title of related products block",
            "default": "Related Products"
        },
        {
            "type": "select",
            "id": "related_product_row",
            "label": "Related per row:",
            "options": [
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ],
            "default": "4"
        },
        {
          "type":      "range",
          "id":        "number_of_related_products",
          "min":       2,
          "max":       50,
          "step":      1,
          "label":     "Number of related products",
          "default":   10
        }
  ]
  }
{% endschema %}