{% if section.settings.display_recently_viewed_products %} 
{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
{{ 'slick.min.js' | asset_url | script_tag }}

<section class="recently-viewed-products" style="display: none;">
  {% if section.settings.recently_viewed_products_title != '' %}
  <div class="widget-title">   
    <h3 class="box-title">
      <span class="title"> 
        {% render 'multilang' with section.settings.recently_viewed_products_title %}
      </span>
    </h3>
  </div>
  {% endif %}
  
{% case section.settings.recently_viewed_results_per_row %}
  {% when '2' %}
    {%- assign grid_item_width = 'col-6' -%}
    {%- assign rowlt = '2' -%}
    {%- assign row = 'two-items' -%}

  {% when '3' %}
    {%- assign grid_item_width = 'col-6 col-md-4' -%}
    {%- assign rowlt = '3' -%}
    {%- assign row = 'three-items' -%}

  {% when '4' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}
    {%- assign rowlt = '4' -%}
    {%- assign row = 'four-items' -%}

  {% when '5' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col5' -%}
    {%- assign rowlt = '4' -%}
    {%- assign row = 'five-items' -%}

  {% when '6' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col-xl-2' -%}
    {%- assign rowlt = '4' -%}
    {%- assign row = 'six-items' -%}
{% endcase %}
  
  <div class="widget-product">
    <div class="products-grid row {{ row }}" data-rows="{{ section.settings.recently_viewed_results_per_row }}" data-rowlt="{{rowlt}}" data-rowtb="4" data-rowtblg="3" data-rowbm="2" id="recently-viewed-products-grid"></div>
  </div>
</section>

<script>
  {% if settings.enable_multilang %}
  function splitTitle(title) {
    if (title.indexOf("|") < 0) 
      return title;
    var titleArr = title.split("|")[0];
    return titleArr;
  }

  function splitTitle2(title) {
    if (title.indexOf("|") < 0) 
      return title;
    var titleArr = title.split("|")[1];
    return titleArr;
  }
  
  {% else %}
  function splitTitle(title) {
    if (title.indexOf("|") < 0) 
      return title;
    var titleArr = title.split("|")[0];
    return titleArr;
  }
{% endif %}
</script>

  {% raw %}
  <script id="recently-viewed-product-grid-template" type="text/x-jquery-tmpl">
  {% endraw %}

  <div class="grid-item {{ grid_item_width }} {% if settings.product_image_border %}grid-item-border{% endif %}">
    <div class="inner product-item{% raw %}{{if !available}} sold-out {{/if}}{{if compare_at_price_min > price_min}} on-sale{{/if}}" data-product-id="product-${id}">
      <div class="inner-top">
      <div class="product-top">
        <div class="product-image">
            <a href="${url}" class="product-grid-image" data-collections-related="/collections/${collection}?view=related">
              <img src="${featured_image}" alt="${featured_image.alt}"/>
            </a>
        </div>

        <div class="product-label">
          ${( tagNew = false ),''}
          ${( tagLabel = false ),''}
          {{if tags}}
            {{each tags}} 
                {{if $value =="new" || $value =="New"}}
                    ${( tagNew = true ),''}
                {{/if}}

                 {{if $value =="custom label" || $value =="Custom Label"}}
                      ${( tagLabel = true ),''}
                  {{/if}}
             {{/each}}
          {{/if}}

          {{if tagNew}}
            <strong class="label new-label" {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.new"{% endif %}>
                {{ 'products.product.new' | t }}{% raw %}
            </strong>
            <br>
          {{/if}}

          



          {% endraw %}
          {% if settings.type_label_sale == 'label_sale' %}
          {% raw %}

            {{if compare_at_price_min > price_min}} 
              <strong class="label sale-label">
                <span>
                    {% endraw %}{{ 'products.product.sale' | t }}{% raw %}
                </span>
            </strong>
            <br>
            {{/if}}

          {% endraw %}
          {% else %}
          {% raw %}
            {{if compare_at_price_min > price_min}} 
            <strong class="label sale-label">
              -${Math.floor((compare_at_price - price)*100/compare_at_price)}%
            </strong>
            <br>
            {{/if}}
          {% endraw %}
          {% endif %}
          {% raw %}


          {{if !available}}
            <strong class="label sold-out-label">
              <span {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>
                {{ 'products.product.sold_out' | t }}{% raw %}
              </span>
            </strong>
            <br>
          {{/if}}
                     
           {{if tagLabel}}
            <strong class="label custom-label">
              <span {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.custom_label"{% endif %}>
                {{ 'products.product.custom_label' | t }}{% raw %}
              </span>
            </strong>
          {{/if}}
         
        </div>
        
        {% endraw %}

        {% if settings.enable_quick_view %}
            {% raw %} 
              <a class="quickview-button" href="javascript:void(0)" id="${handle}">
                     <span {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.quick_view"{% endif %}>
                        {{ 'products.product.quick_view' | t }}{% raw %}
             </span>                        
             </a>
            {% endraw %}  
          {% endif %}
          {% if settings.enable_wishlist %}
        {% raw %}
          <div class="product-des abs-top">
            {% endraw %}
            {% if settings.enable_wishlist %}
            {% raw %}
              <a class="wishlist" data-icon-wishlist href="#" data-product-handle="${handle}" data-id="${id}">
                  <svg id="lnr-heart" viewBox="0 0 1024 1024" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path class="path1" d="M486.4 972.8c-4.283 0-8.566-1.074-12.434-3.222-4.808-2.67-119.088-66.624-235.122-171.376-68.643-61.97-123.467-125.363-162.944-188.418-50.365-80.443-75.901-160.715-75.901-238.584 0-148.218 120.582-268.8 268.8-268.8 50.173 0 103.462 18.805 150.051 52.952 27.251 19.973 50.442 44.043 67.549 69.606 17.107-25.565 40.299-49.634 67.55-69.606 46.589-34.147 99.878-52.952 150.050-52.952 148.218 0 268.8 120.582 268.8 268.8 0 77.869-25.538 158.141-75.901 238.584-39.478 63.054-94.301 126.446-162.944 188.418-116.034 104.754-230.314 168.706-235.122 171.376-3.867 2.149-8.15 3.222-12.434 3.222zM268.8 153.6c-119.986 0-217.6 97.614-217.6 217.6 0 155.624 120.302 297.077 221.224 388.338 90.131 81.504 181.44 138.658 213.976 158.042 32.536-19.384 123.845-76.538 213.976-158.042 100.922-91.261 221.224-232.714 221.224-388.338 0-119.986-97.616-217.6-217.6-217.6-87.187 0-171.856 71.725-193.314 136.096-3.485 10.453-13.267 17.504-24.286 17.504s-20.802-7.051-24.286-17.504c-21.456-64.371-106.125-136.096-193.314-136.096z"></path></svg>
                  <span class="wishlist-text text-hover" {% if settings.enable_multilang %}data-translate="wishlist.general.add_to_wishlist"{% endif %}>
                      {{ 'wishlist.general.add_to_wishlist' | t }}
                  </span>
              </a>
            {% endraw %}  
              {% endif %}
            {% raw %}

            {% endraw %}
             
            {% raw %}

            {% endraw %} 
              {% if settings.enable_compare_product %}
            {% raw %}
              <a class="compare-button" data-icon-compare href="javascript:void(0)" data-compare-product-handle="${handle}" data-id="${id}">
                  <svg class="icon" height="512" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M815.415 818.951c-15.614 0-28.278-12.667-28.278-28.278v-489.739c0-43.452-35.349-78.8-78.8-78.8h-145.669c-15.614 0-28.278-12.667-28.278-28.278s12.667-28.278 28.278-28.278h145.669c74.676 0 135.36 60.684 135.36 135.36v489.739c0 15.614-12.667 28.278-28.278 28.278z"  /><path d="M595.808 309.182c-6.039 0-12.078-2.062-16.938-6.481l-86.606-76.884c-8.395-7.513-13.257-18.265-13.257-29.605s4.861-22.095 13.257-29.605l86.606-77.034c10.458-9.426 26.659-8.395 35.939 2.062s8.395 26.659-2.062 35.939l-77.034 68.49 77.034 68.49c10.458 9.426 11.489 25.481 2.062 35.939-5.008 5.891-11.93 8.69-18.999 8.69z"  /><path d="M447.194 822.045h-145.669c-74.676 0-135.36-60.684-135.36-135.36v-489.885c0-15.614 12.667-28.278 28.278-28.278s28.278 12.667 28.278 28.278v489.739c0 43.452 35.349 78.8 78.8 78.8h145.669c15.614 0 28.278 12.667 28.278 28.278 0 15.76-12.667 28.428-28.278 28.428z"  /><path d="M414.053 904.231c-7.069 0-13.994-2.946-18.999-8.543-9.28-10.458-8.395-26.659 2.062-35.939l77.034-68.49-77.034-68.49c-10.458-9.426-11.489-25.481-2.062-35.939 9.426-10.458 25.481-11.489 35.939-2.062l86.606 76.884c8.395 7.513 13.257 18.265 13.257 29.605s-4.861 22.095-13.257 29.605l-86.606 76.884c-4.861 4.419-11.046 6.481-16.938 6.481z"  /></svg>
                  <span class="compare-text text-hover" {% if settings.enable_multilang %}data-translate="compare.general.add_to_compare"{% endif %}>
                      {{ 'compare.general.add_to_compare' | t }}
                  </span>
              </a>
            {% endraw %}
              {% endif %} 
            {% raw %}

          </div>
        {% endraw %}
          {% endif %}
        {% raw %}

        </div>
            
        <div class="product-bottom">
          {% endraw %}
           {% if settings.show_vendor %}
          {% raw %}
          <div class="product-vendor">
              <a href="{% endraw %}{{ routes.cart_url | split: '/cart' | first }}{% raw %}/collections/vendors?q=${vendor}" title="Anna">${vendor}</a>                
           </div>
          {% endraw %}
            {% endif %} 
          {% raw %}
            
          {% endraw %}
            {% if settings.enable_multilang %}
          {% raw %}
              <a class="product-title lang1" href="${url}">${splitTitle(title)}</a>
              <a class="product-title lang2" href="${url}">${splitTitle2(title)}</a>
          {% endraw %}
            {% else %}
          {% raw %}
              <a class="product-title lang1" href="${url}">${splitTitle(title)}</a>
          {% endraw %}
            {% endif %}
          {% raw %}
            
          {% endraw %}
            {% if settings.display_product_reviews %}
          {% raw %}
            <span class="shopify-product-reviews-badge" data-id="${id}"></span>
          {% endraw %}
            {% endif %}
          {% raw %}

          <div class="price-box">
            {{if compare_at_price_min > price_min}} 
              <p class="sale">
                <span class="old-price">
                  {{html Shopify.formatMoney(compare_at_price_min, window.money_format)}}
                </span>
                
                <span class="special-price">
                  {{if price_varies}}
                    {% endraw %}{% render 'varies_from' %}{% raw %}
                  {{/if}}
                    {{html Shopify.formatMoney(price_min, window.money_format)}}
               </span>
              </p>
            {{else}}
              <p class="regular-product">
                <span>
                  {{if price_varies}}{% endraw %}{% render 'varies_from' %}{% raw %}{{/if}}
                    {{html Shopify.formatMoney(price_min, window.money_format)}}
                </span>
              </p>
            {{/if}}
          </div>   
          
          <div class="abs-bottom-mb">
            {% endraw %}
            {% if settings.display_button %}
            {% raw %}
            <div class="action">
                <form action="{% endraw %}{{ routes.cart_url }}{% raw %}/add" method="post" class="variants" id="add-to-cart-form-list-${id}" data-id="product-actions-${id}" enctype="multipart/form-data">    
                    {{if !available}}
                        <button class="btn add-to-cart-btn" type="submit" disabled="disabled" {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.unavailable"{% endif %}>
                            {{ 'products.product.unavailable' | t }}{% raw %}
                        </button>
                    {{else variants.length > 1 }}
                        <a class="btn" href='${url}' title='${title}' {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.select_options"{% endif %}>
                        {{ 'products.product.select_options' | t }}{% raw %}
                        </a>
                    {{else}}
                      <input type="hidden" name="id" value="${variants[0].id}" />      
                      <button data-btn-addToCart class="btn add-to-cart-btn" type="submit" {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %} data-form-id="#add-to-cart-form-list-${id}">
                      {{ 'products.product.add_to_cart' | t }}{% raw %}
                      </button>
                    {{/if}}
                </form>
            </div>
            {% endraw %}
            {% endif %}
            {% raw %}
          </div>

        </div>                        
      </div>
    </div>
  </div>

</script>
{% endraw %}

<script>
    $('.recently-content-sections').hide();

    Shopify.Products.showRecentlyViewed({ 
        howManyToShow: {{ section.settings.number_of_recently_viewed_products }},
        wrapperId: 'recently-viewed-products-grid', 
        templateId: 'recently-viewed-product-grid-template',
        onComplete: function() {
            var recentlyViewBlock = $('.recently-viewed-products');
            var recentlyGrid = recentlyViewBlock.find('.products-grid');
            var productGrid = recentlyGrid.children();
            var rows = recentlyGrid.data('rows');
            var rowlt = recentlyGrid.data('rowlt');

            if(productGrid.length) {
                recentlyViewBlock.show();
            $('.recently-content-sections').show();

                if(recentlyViewBlock.is(':visible')) {    

                    {% if settings.enable_multilang %}
                    if (translator.current_lang == 2)
                    translator.doTranslate('.recently-viewed-products');
                    {% endif %}
                    
                    if(!recentlyGrid.hasClass('slick-initialized')) {

                    recentlyGrid.slick({
                        infinite: false,
                        speed: 1000,
                        slidesToShow: rows,
                        slidesToScroll: 1,
                        dots: false,
                        arrows: true,
                        nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 17 33" xml:space="preserve"><g id="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="_x38_e584754-6657-46f1-a9d8-2cfd6623b552"><g><polygon points="14.9,14.5 0,0 0,3.7 11.1,14.5 13.2,16.5 11.1,18.5 0,29.3 0,33 14.9,18.5 17,16.5 "></polygon></g></g></g></svg></button>',
                        prevArrow: '<button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 33"><g id="7f9a1925-e8c7-4614-8787-3c6095a9f6e1" data-name="Layer 2"><g id="c9b7920a-81fa-4bfe-ad13-4da717c6854b" data-name="Layer 1"><g id="c2d982ff-0cf6-4220-b365-47f30d708fea" data-name="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="f51d455e-6b9c-4c4e-96db-a5004582beda" data-name="8e584754-6657-46f1-a9d8-2cfd6623b552"><polygon points="0 16.5 2.1 18.5 17 33 17 29.3 5.9 18.5 3.8 16.5 5.9 14.5 17 3.7 17 0 2.1 14.5 0 16.5"></polygon></g></g></g></g></svg></button>',
                        responsive: [
                          {
                            breakpoint: 1450,
                            settings: {
                                slidesToShow: rowlt,
                                slidesToScroll: 1
                            }
                          },
                          {
                            breakpoint: 1281,
                            settings: {
                                slidesToShow: 4,
                                slidesToScroll: 1
                            }
                          },
                          {
                            breakpoint: 1025,
                            settings: {
                                slidesToShow: 4,
                                slidesToScroll: 4,
                                arrows:false,
                                dots: true           
                            }
                          },
                          {
                            breakpoint: 992,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                arrows:false,
                                dots: true                
                            }
                          },
                          {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                arrows:false,
                                dots: true
                            }
                          },
                          {
                            breakpoint: 370,
                            settings: {
                              slidesToShow: 1,
                              slidesToScroll: 1,
                              arrows:false,
                              dots: true
                            }
                          }
                        ]
                        });
                    };     

                    if($('.spr-badge').length > 0) {
                    return window.SPR.registerCallbacks(), window.SPR.initRatingHandler(), window.SPR.initDomEls(), window.SPR.loadProducts(), window.SPR.loadBadges();
                    }; 
        
                    if (window.show_multiple_currencies) {
                    Currency.convertAll(window.shop_currency, $('#currencies .active').attr('data-currency'), '#dropdown-cart span.money', 'money_format');
                    };
                }; 
            }
            
            else {
                recentlyViewBlock.hide();
            };

            var wishListItems = localStorage.getItem('items') ? JSON.parse(localStorage.getItem('items')) : [];

            if (!wishListItems.length) {
                return;
            }

            for (var i = 0; i < wishListItems.length; i++) {
                var icon = $('[data-product-handle="'+ wishListItems[i] +'"]');
                icon.addClass('whislist-added');
                icon.find('.wishlist-text').text(window.inventory_text.remove_wishlist);
            };
        }
    });
</script>

<script>
    Shopify.Products.recordRecentlyViewed();
</script>
{% endif %}

{% schema %}
  {
    "name": "Recently Viewed Products",
    "settings": [
      {
        "type": "checkbox",
        "id": "display_recently_viewed_products",
        "label": "Display Recently Viewed Products?",
        "default": true
      },
      {
        "type": "text",
        "id": "recently_viewed_products_title",
        "label": "Title of recently viewed products",
        "default": "Recently Viewed Products"
      },
      {
        "type": "select",
        "id": "recently_viewed_results_per_row",
        "label": "Products per row",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "4"
      },
      {
        "type":      "range",
        "id":        "number_of_recently_viewed_products",
        "min":       2,
        "max":       50,
        "step":      1,
        "label":     "Number of recently viewed products",
        "default":   10
      }

    ]
  }
{% endschema %}
